*{
margin:0px auto;
padding:0px;}
body{
font-family:Arial;
font-size:14px;
background: #fff;
width:1300px;
}
#header{
height:100px;
}
.brand-logo{
width:100px;
height:100px;
}
.navigation{
margin-top:20px;
}
.carousel-inner{
width:800px;

}
.right{
margin-right:-90px;
}
.left{
margin-left:5px;
}
.glyphicon-triangle-bottom{
width:20px;
height:20px;
}

.CompanyName{
margin-left:20px;
margin-top:20px;
}
.WelcomeText{
margin-top:10px;
margin-right:50px;
}
.dropdown-menu{
width:auto;
}
#main-body{
margin-left:20px;
margin-top:20px;

}


.left-col{
margin-top:50px;
margin-left:50px;
width:200px;
float:left;
}
.dashboards ul li a:hover{
background:#1CA8DD;
}
.right-col{
width: 800px;
margin-top:50px;
margin-left:50px;
float:left;
}
.block{
width:200px;
height:150px;
background:#ccc;
border:#1CA8DD solid 2px;
border-radius:5px;
text-align:center;
padding-top:20px;
margin-left:10px;
}
.btn-group button:hover{
background:#1CA8DD;
}
.gap{
margin-top:30px;
}
.invoice-logo{
width:200px;
height:200px;
}
.underline{
border-bottom:#ccc solid 2px;

}
.group{

margin-top:20px;
}
.invoice{
margin-top:50px;
}
#body{
margin-left:50px;
}
.glyphicon-search{
width:20px;
height:20px;
}