*{
margin:0px auto;
padding:0px;}

body{
font-family:Arial;
font-size:14px;
background: #EBF4FA;}

#header{
height:20px;
background:#1569C7;
margin-bottom:20px;
}


.navbar{
color:#fff;

}
.container-fluid{
background:#488AC7;
}

.glyphicon{

margin-left:10px;
margin-right:5px;
margin-top:10px;
}

.navbar-brand{
margin-top:15px;
}
.navigation{
margin:15px;
}





.icon{
width:40px;
height:40px;
}
.brand-logo {
width:85px;
height:23px;
margin:20px;

}

#main-body{
height:auto;
width:auto;

}

.left-column{
width:300px;

margin-top:50px;
margin-left:70px;
float:left;
}
.thumbnail{
width:auto;
float:left;
margin-top:15px;

}


.big-icon{
width:100px;
height:100px;
margin-top:-50px;
}

.row{
border: #ccc solid 1px;
width:auto;
background: #fff;
margin-bottom:20px;
}
.col-sm-6{
width:auto;
}

.photos{

width:100px;
height:100px;
float:left;
}







.middle-col{
width: 500px;
margin-left:70px;
margin-top:50px;
float:left;
}


.panel-body{
border-bottom:#ccc solid 1px;


}
.panel-heading{
border-bottom:#ccc solid 1px;
}
.panel{

width:500px;

}
.input-group{
width:400px;
}
.glyphicon-camera{


margin-top:10px;
margin-left:5px;

}
.camera-logo{
border:#ccc solid 1px;
width:30px;
height:34px;
}
.panel-body-comment{
margin-left:60px;
margin-top:20px;
}
.photo-uploads{
margin-top:20px;
margin-bottom:20px;
width:400px;
height:200px;
float:left;
}


.right-col{
width:270px;
margin-top:50px;
float:left;
margin-left:70px;
}
.a1-picture{
width: 150px;
height:600px;
}
.glyphicon-plus{
margin-left:-5px;

}
.button{
width:50px;
height:50px;

}
.alert{
border:#ccc solid 1px;
width:auto;
height:auto;



}
.text{
margin:10px;

}
